<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <!--li><a href="{{site.baseurl}}/#"> <i class="fa fa-home" aria-hidden="true"></i> </a></li-->
            <li><a href="{{site.baseurl}}"> H - R M </i> </a></li>
            <!--li><a href="{{ site.baseurl }}/#About">About</a></li-->
            <!--li><a href="{{ site.baseurl }}/contact">Contact</a></li-->
            <!-- <li><a href="#">How it works</a></li> -->
            <!-- li><a href="{{ site.baseurl }}/blog">Blog</a></li-->
            <!-- <li><a href="#">Terms</a></li> -->
          </ul>
        </div>
        <!-- <p>Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p> -->
        <p> 
          • <a href="{{ site.baseurl }}/_pages/site_info"> Web design | photography & content</a> by <a href="{{site.baseurl}}/#">h-rm</a> • 
          <!-- 
          Airspace Theme by <a href="http://www.themefisher.com" target="_blank">Themefisher</a> • 
          Images: <a href="http://www.freepik.com" target="_blank">freepik</a> | 
          <a href="http://unsplash.com" target="_blank">unsplash</a> | 
          <a href="https://commons.wikimedia.org/wiki/Main_Page" target="_blank">wikimedia</a> sourced • 
          -->
          
        </p>
        <!--p>
          • &copy; H-RM • 
        </p -->

      </div>
    </div>
  </div>
</footer>
